<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据库快速添加操作</title>
</head>
<body>

<h1>数据库快速添加</h1>
<hr>

{#re_path(r"register/?", views.register),#}
{#    # 创建班级#}
{#    re_path(r"add_class/?", views.add_class),#}
{#    # 添加可选项目#}
{#    re_path(r"add_project/?", views.add_project),#}
{#    # 添加阶段#}
{#    re_path(r"add_stage/?", views.add_stage),#}
{#    # 添加任务#}
{#    re_path(r"add_mission/?", views.add_mission),#}
{#    # 添加文稿#}
{#    re_path(r"add_doc/?", views.add_doc),#}

<ul>
    <li><a href="./register">注册用户</a></li>
    <li><a href="./add_class">添加班级</a></li>
    <li><a href="./add_project">添加项目</a></li>
    <li><a href="./add_stage">添加阶段</a></li>
    <li><a href="./add_mission">添加任务</a></li>
    <li><a href="./add_doc">添加文档</a></li>
</ul>

</body>
</html>