<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>您没有访问的权限</title>


<script type="text/javascript">
    var t = 5;
    setInterval("countdown()", 500);
    function countdown(){
        if(t == 0){
            window.location.replace("/login")
        }
        document.getElementById('time').innerHTML = t;
        t--;
    }
</script>


</head>
<body>

<p style="text-indent: 2em; margin-top: 30px;">
系统将在 <span id="time">5</span> 秒钟后自动跳转至新网址，如果未能跳转，<a href="/login" title="点击访问">请点击</a>。</p>


</body>
</html>